[Unit]
Description=Start scrcpy when correct usb device is plugged

[Service]
Type=simple
Environment=XAUTHORITY='${XDG_RUNTIME_DIR}/gdm/Xauthority'
Environment=DISPLAY=:0
ExecStart=/bin/bash -c '${HOME}/.local/bin/mouse_jigler'
Restart=on-failure

[Install]
WantedBy=multi-user.target