[Unit]
Description=SSH key agent

[Service]
Type=simple
# SSH_AUTH_SOCK is defined in
# ~/.config/environment.d/10-ssh-agent.conf
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
