/*
    There are some webapps (eg. Slack) that I like to make them looklike as
    native fat-client installations. For that case Firefox provides the --app
    option, but unfortunately it also disable right-click context menu which
    instead I want to keep enabled.

    The following CSS changes hide all the top bars in Firefox. I use it in
    cunjuntion of a dedicate profile, that allows me to start website more
    like native apps.

    This file need to be placed in ~/.mozilla/firefox/<profile>/chrome/userChrome.css
    or in case of flatpak in 
    ~/.var/app/org.mozilla.firefox/.mozilla/firefox/<profile>/chrome/userChrome.css

    Moreover, toolkit.legacyUserProfileCustomizations.stylesheets option has to be
    manually set to True in about:config

    References:
    https://www.userchrome.org/
*/

/* hides the native tabs */
#TabsToolbar {
	  visibility: collapse !important;
  }

#titlebar {
	  visibility: collapse !important;
  }

#nav-bar {
	  visibility: collapse !important;
  }
