### ZSH PLUGINS/THEMES ###
[submodule "zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
	shallow = true
[submodule "fast-syntax-highlighting"]
	path = .config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
	branch = master
[submodule "zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
	shallow = true
[submodule "zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
	shallow = true
[submodule "powerlevel10k"]
	path = .config/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
	shallow = true
### TMUX ###
[submodule "powerline"]
	path = .config/tmux/powerline
	url = https://github.com/powerline/powerline.git
	branch = develop
	shallow = true
### FUZZY FINDER ###
[submodule ".config/zsh/plugins/fzf"]
	path = .config/zsh/plugins/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
### PYTHON PYENV ###
[submodule "pyenv"]
	path = .config/pyenv/pyenv
	url = https://github.com/pyenv/pyenv.git
	branch = master
	shallow = true
[submodule "pyenv-virtualenv"]
	path = .config/pyenv/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
	branch = master
	shallow = true
### NODEJS VIRTUALENV ###
[submodule "nvm"]
	path = .local/bin/repos/nvm
	url = https://github.com/nvm-sh/nvm.git
	branch = master
### UTILITIES ###
[submodule "secbox"]
	path = .local/bin/repos/secbox
	url = https://github.com/StayPirate/secbox.git
	branch = master
[submodule "tldr-sh-client"]
	path = .local/bin/repos/tldr-sh-client
	url = https://github.com/raylee/tldr-sh-client.git
	branch = main
[submodule "asciinema"]
	path = .local/bin/repos/asciinema
	url = https://github.com/asciinema/asciinema.git
	branch = master
[submodule "notify-send.sh"]
	path = .local/bin/repos/notify-send.sh
	url = https://github.com/vlevit/notify-send.sh.git
	branch = master
### GDB PLUGIN ###
[submodule "pwndbg"]
	path = .local/bin/repos/pwndbg
	url = https://github.com/pwndbg/pwndbg.git
	branch = dev
[submodule "managesieve"]
	path = .local/bin/repos/managesieve
	url = https://gitlab.com/htgoebel/managesieve.git
	branch = main
