[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
	shallow = true
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
	shallow = true
[submodule "zsh/themes/powerlevel9k"]
	path = .config/zsh/themes/powerlevel9k
	url = https://github.com/Powerlevel9k/powerlevel9k.git
	branch = master
	shallow = true
[submodule "zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
	shallow = true
[submodule "tmux/powerline"]
	path = .config/tmux/powerline
	url = https://github.com/powerline/powerline.git
	branch = master
	shallow = true
[submodule "pyenv/pyenv"]
	path = .config/pyenv/pyenv
	url = https://github.com/pyenv/pyenv.git
	branch = master
	shallow = true
[submodule "pyenv/pyenv-virtualenv"]
	path = .config/pyenv/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
	branch = master
	shallow = true
[submodule "zsh/themes/powerlevel10k"]
	path = .config/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
	shallow = true
