[user]
	name = Gianluca Gabrielli
	email = gianluca.gabrielli@suse.com
	signingkey = 78CA2FAA
[filter "lfs"]
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[diff]
	colorMoved = default
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	syntax-theme = Monokai Extended Origin
	line-numbers = true
	#side-by-side = true
	#wrap-max-lines = unlimited
[alias]
	s = status
	d = diff
	b = branch
	sw = switch
	a = add
	c = commit
	p = push
	l = "!git-fshow"
	lg = log --graph --abbrev-commit --decorate --all \
		--format=format:'%C(bold blue)%h%C(reset) - \
		%C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- \
		%an%C(reset)%C(bold yellow)%d%C(reset)'
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	f = "!git ls-files | grep -i"
	update = "!dotfiles-update"
	find-commit = "!git-find-commit"
	find-file   = "!zsh -ic \"git-find-file $1\""
	reset-to-remote = "!git-reset-to-remote"
[http "https://gitlab.suse.de"]
	sslCAInfo = ~/.ca-certificates/SUSE/SUSE_CA_suse.de_chain.crt

; Only include if the repository is sieve-susede
[includeIf "gitdir:~/Workspace/sieve-susede/.git"]
	path = ~/Workspace/sieve-susede/.githooks/sieveshell.gitconfig

; Only include if the repository is sieve-disroot
[includeIf "gitdir:~/Workspace/sieve-disroot/.git"]
        path = ~/Workspace/sieve-disroot/.githooks/sieveshell.gitconfig
[core]
	hooksPath = ~/.githooks
