/* CSS fix for 0.9.15 when it switched from GtkLabel to GtkButton 
   https://github.com/Alexays/Waybar/issues/1741#issuecomment-1288336263 */
label:disabled,
button:disabled {
  color: inherit;
  background-image: none;
}

* {
	font-size: 14px;
	font-family: monospace;
    border: none;
    border-style: none;
    border-radius: 0;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#custom-spotify,
#memory,
#cpu,
#temperature.cpu,
#battery,
#upower,
#disk,
#temperature.disk,
#network,
#bluetooth,
#tray,
#custom-notification,
#group-power,
#custom-power,
#custom-reboot,
#custom-lock,
#pulseaudio-slider,
#custom-pacman,
#custom-pacnew,
#custom-flatpak,
#custom-pip_local,
#custom-weather,
#custom-light-temperature,
#scratchpad {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
@keyframes blink-urgent {
    to {
        color: #ff0000;
    }
}
#workspaces button.urgent {
    animation-name: blink-urgent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#custom-spotify {
	color: #1db954;
}
#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#disk,
#temperature.disk {
	color: #b58900;
}
#cpu,
#temperature.cpu {
	color: #6c71c4;
}
@keyframes blink-temp {
    to {
        color: #aa0000;
    }
}
#temperature.cpu.critical,
#temperature.disk.critical {
    animation-name: blink-temp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #268bd2;
}

/* Battery idicator is green when in a full capacity status */
#battery.full,
#upower {
	color: #3b9900;
}
/* Normal battery idicator between good and warning capacity status */
#battery.good {
	color: #859900;
}
/* Battery idicator start blinking (orange) while charging */
@keyframes blink-charging {
    to {
        color: #b58900;
    }
}
#battery.charging.good,
#upower.charging {
    animation-name: blink-charging;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* Battery idicator start blinking (orange) when getting lower */
@keyframes blink-warning {
    to {
        color: #fc8b00;
    }
}
#battery.warning:not(.charging),
#upower.discharging {
    animation-name: blink-warning;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* Battery idicator start blinking (red) when critical */
@keyframes blink-critical {
    to {
        color: #f92672;
    }
}
#battery.critical:not(.charging),
#upower.critical:not(.charging) {
    animation-name: blink-critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
	color: #0045b5;
}
#network.disconnected {
	color: #AA0000;
}

#bluetooth {
	color: #aa0000;
}
#bluetooth.connected {
	color: #0045b5;
}

#custom-notification {
	color: #757575;
}
@keyframes blink-notification {
    to {
        color: #ff0000;
    }
}
#custom-notification.notification {
    animation-name: blink-notification;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-update {
    to {
        color: #3b9900;
    }
}
#custom-pacman,
#custom-pacnew,
#custom-flatpak,
#custom-pip_local {
    color: #1a1a1a;
    animation-name: blink-update;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather.severe {
    color: #eb937d;
}
#custom-weather.sunnyDay {
    color: #c2ca76;
}
#custom-weather.clearNight {
    color: #636363;
}
#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}
#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #5aaca5;
}
#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}
#custom-weather.default {
    color: #dbd9d8;
}

#custom-light-temperature {
    color: #ffffff;
}
#custom-light-temperature.night {
    color: #373deb;
}
#custom-light-temperature.day {
    color: #ffef0a;
}

#scratchpad.empty {
	background-color: transparent;
}

#network,
#bluetooth,
#temperature.cpu,
#cpu,
#temperature.disk,
#disk,
#custom-light-temperature,
#pulseaudio,
#pulseaudio-slider,
#scratchpad {
	padding: 0 5px;
}

#clock,
#custom-spotify,
#memory,
#battery,
#upower,
#custom-notification,
#custom-power,
#custom-reboot,
#custom-lock,
#custom-pacman,
#custom-pacnew,
#custom-flatpak,
#custom-pip_local,
#custom-weather {
	padding: 0 10px;
}
