[Desktop Entry]
Type=Application
Name=Nvidia Shield
Comment=Screencast Nvidia Shield via network using scrcpy
Icon=shield
Exec=zsh -c "shield"
Terminal=false
Categories=Utility;